@import "../../app.scss";

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;
    &.black {
        background: rgba(0, 0, 0, 0.9);
        transition: all 0.4s;
    }
    &__left {
        display: flex;

        img {
            width: 120px;
            height: 30px;
            cursor: pointer;
        }
        &-list {
            display: flex;
            align-items: center;
            list-style: none;
            margin-left: 30px;
            cursor: pointer;
            &-item {
                opacity: 0.7;
                margin-left: 30px;

                transition: all 0.2s;

                &.active {
                    opacity: 1;
                }
                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    &__right {
        display: flex;
        &-search {
            display: flex;
            position: relative;
            input {
                position: absolute;
                top: 0;
                right: 4px;

                padding: 5px 10px;
                outline: none;

                opacity: 0;
                visibility: hidden;
                &.toggle {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        &-icon {
            margin-left: 20px;
            cursor: pointer;
        }
        img {
            margin-left: 20px;
            cursor: pointer;
        }
        &-down{
            cursor: pointer;
        }
    }
}
